<header>
  <div>  <a routerLink="/tutos">Retrouvez nos tutos</a></div>
  <h1>Augmentez vos compétences et vos chances pour  l'emploi</h1>

  <nav>
    <ul>
      <li>

        <a routerLink="/tutos">Tutoriels</a>
        <a routerLink="/astuces">Astuces</a>
        <a routerLink="/actualites">Actualités</a>
    <!--
    <a class="nav-link" routerLink="users" routerLinkActive="active" *ngIf="auth.loggedIn">Users</a>
    <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Se connecter</a>

  -->
        <a class="nav-link" (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
      </li>
    </ul>
  </nav>







</header>

<main>



  <router-outlet></router-outlet>

<section id="cadeau">
  <h2>Cadeau du jour</h2>
<article class="">

<div>
    <h3>Angular 8</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure voluptatem, quae obcaecati quo nam, fuga velit eaque aut laboriosam nemo excepturi, esse, nobis optio.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure voluptatem, quae obcaecati quo nam, fuga velit eaque aut laboriosam nemo excepturi, esse, nobis optio.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure voluptatem, quae obcaecati quo nam, fuga velit eaque aut laboriosam nemo excepturi, esse, nobis optio.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure voluptatem, quae obcaecati quo nam, fuga velit eaque aut laboriosam nemo excepturi, esse, nobis optio.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure voluptatem, quae obcaecati quo nam, fuga velit eaque aut laboriosam nemo excepturi, esse, nobis optio.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iure voluptatem, quae obcaecati quo nam, fuga velit eaque aut laboriosam nemo excepturi, esse, nobis optio.
  </p>

</div>

<aside>

    <img src="../../assets/angular.svg.png" alt="">


  <form action="">
    <p>Envie de reçevoir un cadeau?</p>
    <input type="text" name="mail" placeholder="johndoe@gmail.com">
    <button type="submit" name="button">   <a href="">Valider</a></button>
  </form>
</aside>
</article>

</section>

</main>
<footer>
  &copy; footer
</footer>
