[hidden] {
   display: none;
}
#tutos{
  h2,h3,h4{
    color:#2CAEC2;
  }
  i{
    margin: .5em .5em 1em 1em;
  }
  h3{
    margin-left: 1em;
  }
#delete{

  a{
    margin-left: 1em;
    text-decoration: none;
    color:#2CAEC2;
  }
}
margin-top: 1em;
padding: 4em;
h2{
  padding-top: 2em;
  font-size: 2em;
  display: flex;
  justify-content:center;
  width: 100%;
}

article{
display: flex;
justify-content: center;
h3{
  width: 100%;
}
  a{
    margin: 1rem 0;
    display: block;
    width: 5em;
    padding: .5em;
    text-decoration: none;
    border:blue 1px solid;
    border-radius: 5px;
    background-color: #2CAEC2;
    color:#fff;

  }

  margin-top: 7em;
figure{
width: 50%;
margin-bottom: 1em;
  img{

    width:100%;
    height: 100%;

  }
}
div{
margin-left: 1em;
max-width: 50%;
display: inline-block;
  p{
    display: flex;
    flex-wrap: wrap;


  }

  //margin: 5em;

}
}
}
