<section id="tutos">
<h2>{{title}}</h2>
<ul>
  <li *ngFor="let tuto of tutos">
    <article>

      <figure>
        <img src="../../assets/{{tuto.image}}" alt="">
        <figcaption></figcaption>
      </figure>
      <div>
          <h3>  {{tuto.titre}}</h3>
          <p>
            <!--Pipe utile !!!!!!!-->
          {{tuto.texte | slice:0:150}} ...
          </p>


                  <a routerLink="/tutos/details/{{tuto._id}}">
                    Lire la suite
                  </a>




      </div>



    </article>
  </li>
</ul>




</section>

<router-outlet></router-outlet>
