<section id="tutos">
<h2>{{title}}</h2>
<h3>Ajouter un tutoriel:</h3>
<form [formGroup]="tutoForm" (ngSubmit)="onFormSubmit(tutoForm.value)">
  <label for="titre">Titre: </label>

    <input  id="titre" placeholder="titre" formControlName="titre">

      <span *ngIf="!tutoForm.get('titre').valid && tutoForm.get('titre').touched">Please enter titre</span>


      <label [hidden]="true"  for="_id">Id: </label>

        <input [hidden]="true"  id="_id" value="{{tuto._id}}" placeholder="{{tuto._id}}" formControlName="_id">

          <span *ngIf="!tutoForm.get('_id').valid && tutoForm.get('_id').touched">Please enter id</span>


          <label for="texte">Texte: </label>

            <textarea id="texte" placeholder="here your text" formControlName="texte">
            </textarea>

              <span *ngIf="!tutoForm.get('texte').valid && tutoForm.get('texte').touched">Please enter text</span>


              <label for="image">Image: </label>

                <input  id="image" placeholder="image" formControlName="image">

                  <span *ngIf="!tutoForm.get('image').valid && tutoForm.get('image').touched">Please enter picture</span>



  <div>

    <button type="submit" [disabled]="!tutoForm.valid" >save</button>
  </div>
</form>

<ul>

  <li *ngFor="let tuto of tutos">
    <article>

      <figure>
        <img src="../../assets/{{tuto.image}}" alt="">
        <figcaption></figcaption>
      </figure>
      <div >
          <h3 >  {{tuto.titre}}</h3>
          <p>
            <!--Pipe utile !!!!!!!-->
          {{tuto.texte | slice:0:300}} ...
          </p>


                  <a routerLink="/tutos/details/{{tuto._id}}">
                    Lire la suite
                  </a>




      </div>



    </article>
  </li>
</ul>



</section>

<router-outlet></router-outlet>
